
   .outer-dash-box{
    width: 100vw;
    height: 1000vw;
    background: linear-gradient(to top left, #36d8ff , #a8f5ff) ;
  } 
  .inner-dash-box{
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: 2%;
    transform: translateY(-2%);
    padding: 20px 40px;
    background-color: white;
    box-shadow: 2px 2px 5px #2773a5;
  }
  .card-image{
    width: 250px;
    height: 333px;
  }
  .parent{
    display: flex;
    padding-top: 40px;
    
  }
  .card-view{
    padding-top: 10px;
    padding-left: 20px;
    color: #007bff;
    font-size: x-large;

  }
  .card-time{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: x-large;


   }
  .child{
    padding-left: 10px;
  }
  .card-item{
    padding-top: 10px;
    padding-left: 20px;
    font-size: x-large;
  }
  .card-title{
    padding-top: 10px;
    padding-left: 20px;
    font-size: xx-large;
  }
  .child button[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    width: 36vw;
    height: 4vw;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
  }
  .child input[type="submit"]:hover{
    background-color: #2773a5;
  }
  .icon{
    padding: 20px;
    padding-top: 80px;
  }
  .up{
    width: 30px;
    padding-bottom: 2px;
    height: 50px;
  }
  .down{
    width: 30px;
    height: 50px;
  }
  .vote{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 6px;
  }
  .child button a{
    text-decoration: none;
    color: white  ;
  }
   

   
   
