
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outer-box{
  width: 100vw;
  height: 100vw;
  background: linear-gradient(to top left, #36d8ff , #a8f5ff) ;
}
.inner-box{
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  padding: 20px 40px;
  background-color: white;
  box-shadow: 2px 2px 5px #2773a5;
}
h2{
   font-size: 2.5rem;
}
.signup-body{
  margin: 20px 0;
}
.signup-body label{
  display: block;
  font-weight: bold;
}
.signup-body input{

   width: 100%;
   padding: 10px;
   border: 2px solid #cccc;
   border-radius: 4px;

}
.signup-body input[type="submit"]{
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
}
.signup-body input[type="submit"]:hover{
  background-color: #2773a5;
}
.signup-footer h3{
color: #555;
text-align: center;
padding-top: 10px;
}
.signup-footer h3 span {
   color: #3498db;

}
.for-p{
  display: inline;
}


